# --- Laravel ---
/vendor/
/.env
.env.*.php
Homestead.json
Homestead.yaml
phpunit.xml
/storage/*.key
/storage/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
/node_modules/

# Laravel deployment / CI
/public/hot
/public/storage
/storage/app/public
/storage/oauth-private.key
/storage/oauth-public.key

# IDE / Editor
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS / System
.DS_Store
Thumbs.db

# --- Node.js / Vite ---
/node_modules/
/dist/
/public/build/
/public/mix-manifest.json
/public/js/
/public/css/
/public/assets/
/resources/js/**/*.js.map

# --- Log & Debug ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
laravel.log
